* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}


#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.header {
    width: 100%;
    height: 200px;
    background-image: url(./img/photo_2025-10-08_18-06-51.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(47, 101, 9, 0.678);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logotip {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 60x;
  height: 60px;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav a {
    color: green;
    font-size: 15px;
}

.nav a:hover {
    text-decoration: underline;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-size: 25px;
}

.user-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 80%;
  min-height: 200px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 4px;
  padding: 40px;
  background-color: white;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  color: purple;
}
.user-info {
  font-size: 20px;
  font-weight: bold;
}

footer {
  background-color: rgb(3, 72, 70);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}